/* Réinitialisation des styles de base et styles généraux */
body,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Header Bureau */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

/*container de mes 4 liens de navigation*/
.titre-nav-container {
  width: 200px;
  height: 80px;
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Arrière-plan blanc avec transparence */
  display: flex;
  align-items: center;
  justify-content: center;
}

/*texte de mes 4 liens*/
.titre-nav {
  padding: 5px;
  font-size: 20px;
  font-family: "Bruno Ace SC", sans-serif; /*remplace kameron*/
  color: #000; /* Police noire */
  text-align: center;
  text-decoration: none; /* Supprime les soulignements des liens */
}

/* Style pour le cercle de la photo de profil*/
.circle-container {
  position: absolute;
  top: 230px; /* Empiéte de 70px au centre */
  left: calc(50% - 100px); /* Calcul pour centrer horizontalement */
}

.circle-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
